body {
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

form {
  display: inline-block;
  text-align: left;
}

label, input {
  display: block;
  margin-bottom: 10px;
}

input[type="submit"] {
  margin-top: 10px;
}

.hidden {
  display: none;
}
